.movie-card {
    width: 20.625rem;
    height: 20.625rem;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

@media only screen and (max-width: 464px) {
    .movie-card {
        width: 220px;
        height: 330px;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 10px;
}

.overlay:hover {
    opacity: 1;
}

.movie-card:hover {
    transform: scale(1.2) translateZ(20px);
    z-index: 2;
}

.adultimg {
    width: 28px;
    border-radius: 5px;
}

.genre {
    margin-right: 3px;
}

.movie-banner {
    margin-bottom: 20px;
}

.avg-icon {
    border-radius: 5px;
}

.adulticon {
    margin-left: 10px;
}